@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(http://fonts.googleapis.com/css?family=Volkhov:400italic);
/* var text-decoration */
/*--
  Common Css
--*/
body{
  overflow-y: scroll;
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.06em;
text-transform: uppercase;

}

h2 a {
  color: #333;
}
a {
  color: #333;
}

h3 {
  font-size: 22px;
  font-weight: 300;
}
p {
  font-size: 15px;
  line-height: 25px;
}
.btn-space {
    margin-right: 10px;
}
.btn-info{
  background-color: white;
  color: black;
  margin: 40px auto;
}
.breadcrumb-back {
}
.breadcrumb{
  margin-bottom: 0;
  background-color: transparent;
}
.see-also {
  background-color: #EEE;
  padding: 10px 10px 20px 10px;
}
.see-also a{
    display: block;
    margin-top: 7px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a.phone{
  color: white;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
}
#global-header{
  padding-top: 40px;
}
.post-area {
  margin-bottom: 70px;
}
.post-area img {
  max-height: 450px;
  max-width: 100%;
  margin: 10px 0 20px 0;
}
.section-title {
  margin-bottom: 0px;
}
.section-title p {
  color: #333;
}
.load-more-btn{
  margin: 20px auto 40px auto;
  width: 230px;
}
header {
  background-color: #1A1A1A;
  padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);;
}
header .navbar {
  margin-bottom: 0px;
  border: 0px;
  min-height: 0;
}
header .navbar-default {
  background-color: transparent;
}
header .navbar-default .navbar-nav {
  padding-top: 10px;
}
header .navbar-default .navbar-nav li a {
  color: white;
  padding: 10px 26px;
  font-size: 15px;
}
header .navbar-default .navbar-nav li a:hover {
  color: #000;
  background-color: #f7f7f7;
}
.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse{
  margin-right: 0;
}
.post img {
  max-width: 100%;
}
.logo{
  opacity: 0.9;
}
.logo:hover{
  opacity: 1;
}
.logo img {
  height: 45px;
  position: relative;
}

.container-fluid{
  padding: 0;
}
.header-photos{
  margin-top: 50px;
  margin-bottom: 0px;
}

#slider {
  position: relative;
  background: url(../../img/main.jpeg) no-repeat;
  background-size: cover;
  background-position: top center;
  height: 600px;
  text-align: center;
}
#slider.work-slider{
}

#slider h1{font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  text-align: center;

  color: #FFFFFF;
  text-transform: none;

}

#slider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0.7;
}

#slider .block {
  color: #FFF;
}

#slider .block h1 {
  padding-bottom: 0;
  margin-top: 190px;
  margin-bottom: 50px;
}

#slider .main-text {
  font-size: 18px;
  max-width: 453px;
  margin: 0 auto;
  line-height: 31px;
}

.experience {
  margin-top: 90px;
  margin-bottom: 130px;
  flex-flow: inherit;
}

.experience p {margin-top: 20px;margin-bottom: 45px;}

.experience .row {
  display: flex;
  align-items: center;
}


#services {
  position: relative;
  background-size: cover;
  background-position: 0 -161px;
}

#services .col-md-3.col-sm-12 {
  font-size: 14px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#services:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 450px;
  background: url(../../img/services.png) no-repeat;
  background-size: cover;
}

#services .block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#services h2 {
  color: #FFF;
  padding-bottom: 0;
  margin-top: 120px;
  margin-bottom: 60px;
}

#services h3 {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 27px;
}

#services h3, #services .block p {
  color: #1A1A1A;
}

#services .btn-default {
  width: 100%;
  margin-top: 41px;
}

#services .col-md-3 {
  text-align: center;
  padding-top: 35px;
  font-size: 18px;
  line-height: 27px;
  background-color: white;
  padding-top: 35px;
  padding-bottom: 45px;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
  width: 23%;
  min-width: 220px;
}

#services .col-md-3 .btn {
  width: 190px;
  margin-top: 20px;
}

#services .main-text {
  font-size: 18px;
  max-width: 453px;
  margin: 0 auto;
  line-height: 31px;
}


.btn-default{
  background-color: #1A1A1A;
  color: white;
  border: 2px solid #1a1a1a;
}

.btn-info-border{
  color: #1A1A1A;
  border: 2px solid #1A1A1A;
}

.intro {
  padding: 20px 0;
}
.intro .block img {
  width: 100%;
}
.intro .section-title {
  margin-bottom: 0px;
}
.intro .section-title p {
  padding-top: 20px;
}

.services-page .experience {
  margin-top: 67px;
  margin-bottom: 49px;
}

.experience img {

  max-width: 100%;
}

.service {
    color: #1A1A1A;
}
.service.white{
  background-color: white;
}
.service.black {
    background-color: #333;
    color: white;
}
.service.black a {
    color: #86cffe;
}
.service.black a:hover, .service.black a:focus {
    color: #4ea8da;
}
.service .agile {
    width: 100%;
}

#price table th{
  background: #5C5C5C;
  color: #FFFFFF;
  width: 50%;
  border: none;
}

#price table td {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#price h3, #price p, #price table td, #price table th, #price #feedback {
  padding: 25px 20px;
}
#price #feedback .btn{
  margin: 15px 0 30px 0;
}
#price h2, #price h1 {
  padding: 2px 20px;
}

#call-to-action {
  background-color: #222;
  padding: 30px 0 20px 0px;
  position: relative;
  text-align: center;
  color: #fff;
}
#call-to-action h2 {
  padding-bottom: 20px;
  margin: 0;
}
#call-to-action p {
  line-height: 1.6;
}


#portfolio-work img {
  max-width: 100%;
}

.more-pictures{
    margin-top: 20px;
    background-color: #eee;
}

#portfolio-work .cell {
    padding: 20px;
    width: 50%;
    background-color: #eee;
    cursor: pointer;
  }
  #portfolio-work .cell.main {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
    cursor: default;
  }
  #portfolio-work .cell.main:hover {
    background-color: transparent;
  }


  #portfolio-work .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  #portfolio-work .cell {
    padding: 20px;
    background-color: #eee;
    cursor: pointer;
  }
  #portfolio-work .cell:hover {
    background-color: #ddd;
  }
.col-md-12{
  /* padding-right: 0; */
}
#portfolio-work .col-md-12 img{
  width: 100%;
}

.map{
  margin-top: 30px;
}

/*--
  footer Start
--*/
footer {
  text-align: center;
  padding-bottom: 0;
  margin-top:  90px;
}
footer .container{
  border-top: 1px solid #E8E8E8;
  padding-top: 30px;
}
footer p {
  font-size: 13px;
  line-height: 25px;
  color: #919191;
}
footer a {
  color: #595959;
}
footer .footer-manu {
  padding-bottom: 25px;
  text-align: right;
}
footer .footer-manu ul {
  margin: 0px;
  padding: 0px;
}
footer .footer-manu ul li {
  display: inline-block;
  padding: 0px 17px;
}
footer .footer-manu ul li a {
  display: inline-block;
  color: #494949;
}
footer .footer-manu ul li a:hover {
  color: #000;
}

footer .col-md-12 {
  display: flex;
  justify-content: space-between;
}

.service, .intro, #slider, #feature {
  /* padding: 50px 0; */
}

@media(max-width: 990px) {
  .intro .block img {
    margin-top: 20px;
    margin-left: 0;
  }
  .services-page .experience {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 30px 0;
  }
  .col-sm-6.text{
    margin-top: 40px;
  }
  .experience .row  {
    flex-wrap: wrap;
  }
  .experience .row.reverce {
    flex-wrap: wrap-reverse;
  }

  .experience .btn {
    width: 40%;
  }

  .experience .btn-group{
    display: block;
  }

  #slider .block h1 {
    line-height: 35px;
  }
  .service {
    padding: 30px 0;
  }

  #call-to-action {
    text-align: left;
    padding: 40px 0 20px 0px;
  }
}


@media only screen and (max-width: 768px) {
  /*---------------------------------------------
          Index Start
-----------------------------------------------*/


.navbar-default .navbar-collapse{
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
header {
  padding: 0;
}
.logo img {
  height: 40px;
  margin: 25px 0 0 10px;
    top: -11px;
}

.service, .intro, #slider, #feature{
  padding: 40px 0;
}
.service h2, .intro h2, #slider h2, #feature h2{
  margin-top: 0;
}
  .heading {
    padding-left: 0px;
  }
  h1{
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  header .navbar-default .navbar-toggle {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  header .navbar-default .navbar-nav {
    padding-top: 0;
  }
  header .navbar-default .navbar-nav li a {
    padding-right: 15px;
    text-align: right;
  }
  #slider .block {
    padding-left: 0px;
  }
  #slider .block h1 {
    font-size: 20px;
  }
  #slider .block p {
    font-size: 15px;
  }
   .map {
    display: none;
  }

  footer {
    padding-top: 0px;
    text-align: left;
  }
  footer .footer-manu {
    padding: 20px 0;
  }
  footer .footer-manu ul li {
    width: 100%;
    padding: 5px 0;
  }
  footer a {
    color: #999;
  }

}

@media screen and (max-width: 600px) {
  #portfolio-work .cell, #portfolio-work .cell.main {
    width: 100%;
    padding: 40px 0;
    margin: 0;
    background-color: transparent;
    cursor: default;
    border-bottom: 1px solid #eee;
  }
  #portfolio-work .cell:hover {
    background-color: transparent;
  }
  #portfolio-work .cell, #portfolio-work .cell h3{
    margin-top: 0;
  }
  .experience .btn {
    width: 100%;
  }
}

