<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-sm-4">
          <a href="https://brigada-montazhnikov.ru/"><img src="/img/Group.svg"></a>
        </div>
        <div class="col-sm-4">
          <p>Электронная почта:  <a href="mailto:info@brigada-montazhnikov.ru">info@brigada-montazhnikov.ru</a> <br> Прораб Константин Попов: <a href="tel:+79032906262">+7(903)290-62-62</a> </p>
        </div>
        <div class="col-sm-4">
          <p><img src="/img/Union (2).png"> instagram: <a href="https://www.instagram.com/brigada_montazhnikov.ru/">instagram.com/brigada_montazhnikov.ru</a></p>
        </div>
      </div>
      <div class="col-md-12">
        <p>© 2017-{{ site.time | date: '%Y' }} Бригада монтажников | <a href="/privacy-policy/">Политика конфиденциальности</a></p>
      </div>
    </div>
  </div>
</footer>
