<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>© 2017-{{ site.time | date: '%Y' }} Бригада монтажников | <a href="/privacy-policy/">Политика конфиденциальности</a></p>
        <div class="footer-manu">
          <ul>
              <li><a href="{{ site.baseurl }}/about">О нас</a></li>
              <li><a href="{{ site.baseurl }}/services/">Услуги</a></li>
              <li><a href="{{ site.baseurl }}/work/">Наша работа</a></li>
              <li><a href="{{ site.baseurl }}/price/">Цена</a></li>
              <li><a href="{{ site.baseurl }}/contact/">Контакты</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
