<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>            
              <li><a href="{{ site.baseurl }}/about/">О нас</a></li>
              <li><a href="{{ site.baseurl }}/work/">Фото работы</a></li>
              <li><a href="{{ site.baseurl }}/price/">Цена</a></li>
              <li><a href="{{ site.baseurl }}/contact/">Контакты</a></li>
          </ul>
        </div>
        <p>© {{ site.time | date: '%Y' }} Бригада монтажников</p>
      </div>
    </div>
  </div>
</footer>
