<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-left logo"><img src="/img/logo.svg" alt="Бригада монтажников" />
          </a>
            <!--<a class="navbar-brand" href="index.html">
              <img src="{{ site.baseurl }}img/logo.png" alt="Logo">
            </a>-->
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li {% if page.permalink == site.baseurl %} class="active" {% endif %}><a href="{{ site.baseurl }}/about">О нас</a></li>
                <li {% if page.permalink contains "services/" %} class="active" {% endif %}><a href="{{ site.baseurl }}/services/">Услуги</a></li>
                <li {% if page.permalink contains "work/" %} class="active" {% endif %}><a href="{{ site.baseurl }}/work/">Наши работы</a></li>
                <li {% if page.permalink == "price/" %} class="active" {% endif %}><a href="{{ site.baseurl }}/price/">Цены</a></li>
                <li {% if page.permalink == "contact/" %} class="active" {% endif %}><a href="{{ site.baseurl }}/contact/">Контакты</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

      </div>
    </div>
  </div>
</header><!-- header close -->
{% if page.permalink != "/" %}
<div class="breadcrumb-back">
  <div class="container">
    <div class="breadcrumb-wrapper row">
      <ol class="breadcrumb col-md-12">
        <li><a href="{{ site.baseurl }}/">Главная</a></li>
        {% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
        {% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
        {% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}
        {% for i in (1..forLoopMaxInt) %}
            {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
            {% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
            {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
            {% for breadcrumb_page in site.pages %}
                {% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url  %}
                {% assign j = forLoopMaxInt | plus: 0 %}
                    <li {% if i == j %}class="active"{% endif %}>
                        {% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url | remove: "index.html" }}{% endcapture %}
                        <a href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}">{{breadcrumb_page.breadcrumb}}</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endfor %}
      </ol>
    </div>
  </div>
</div>
{% endif %}
