<meta charset="utf-8">
<meta https-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="yandex-verification" content="f51d3ee8268f377e" />
<meta name="google-site-verification" content="c91y_KUvS7CxksPAHJPU0kYHSV0oJ2kcvSMy7u5oRnw" />
<meta name="description" content="{{ page.description }}">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<meta name="keywords" content="Монтаж металлоконструкций, монтажники металлоконструкций, монтажная бригада, ищу монтажников, сэндвич-панели, промышленные полы, изготовление фундамента, бригады монтажников">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name='wmail-verification' content='8d841b1b7a2428c0d494e82638501034' />

<!-- CSS -->
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
<link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">

<!-- Js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

<script src="{{ site.baseurl }}/js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-50311880-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-50311880-4');
</script>
<script type="application/ld+json">
{
  "@context" : "https://schema.org",
  "@type" : "Organization",
  "name" : "Бригада монтажников",
  "url" : "https://brigada-montazhnikov.ru",
  "sameAs" : [
    "https://vk.com/brigadamontazhnikov"
  ]
}
</script>
